/* BASIC STYLES HERE */
header {
    background-color: lightpink;
    border-bottom: 1px solid black;
}

.money-total-bg {
    background-color: lightpink;
    border-top: 1px solid black;
}

.img-style {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

.snack-text-style {
    background-color: lightseagreen;
    border: 1px solid black;
    width: 20rem;
}